/* 
@Autor : Helton
*/
@charset "UTF-8";

html{
    font: 15pt;
    font-family: TimesNew Roman, sans-serif;
}
body{
    background-color: black;
    color: #ffffff;
}

div{
    alignment-adjust: central;
}
